#pageBody {
    width: 720px;
    background-color: #FFFFCC;
    float: left;
}

#pageSub {
    width: 220px;
    background-color: #FFFFCC;
    float: right;
}

#page {
    width: 980px;
    margin: 0 auto;
}

#siteTitle {
    font-size: 40px;
    line-height: 3;
}

h2 {
    background-color: #CCFFCC;
    border-bottom: dashed 3px blue;
}

#pageFooter {
    border-top: solid 2px blue;
    text-align: center;
    clear: both;
}

#oshirase {
    height: 150px;
    overflow: scroll;
}

a {
    color: #333333;
    text-decoration: none;
}

a:hover {
    color: #FF3333;
}

.btn a {
    font-size: 20px;
    font-weight: hold;
    color: #FFFFFF;
    background-color: gray;
    padding: 10px 20px;
    border-radius: 5px;
    background-image: linear-gradient(to bottom, blue, lightblue, blue)
}
