// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#pageBody {
    width: 720px;
    background-color: #FFFFCC;
    float: right;
}

#pageSub {
    width: 220px;
    background-color: #FFFFCC;
    float: left;
}

#page {
    width: 980px;
    margin: 0 auto;
}

#siteTitle {
    font-size: 40px;
    line-height: 3;
}

a {
    color: #333333;
    text-decoration: none;
}

a:hover {
    color: #FF3333;
}

.btn a {
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: gray;
    padding: 10px 20px;
    border-radius: 5px;
    background-image: linear-gradient(to bottom, blue, lightblue, blue)
}
