<%= form_tag '/top/login', method: :post do %>
  <%= label_tag :uid,'ユーザID' %>
  <%= text_field_tag :uid%>
  <%= label_tag :pass,'パスワード' %>
  <%= password_field_tag :pass %>
  <%= submit_tag '登録' %>
<% end %>