<div id='menu'>
  <li><%= "メニュー" %></li>
<ul>
   
   <li><%= link_to "冷蔵庫", "https://swdev-miz72.c9users.io/cart" %>
   <%= "5000円" %></li>
   <li><%= link_to "洗濯機","https://swdev-miz72.c9users.io/cart" %>
   <%= "10000円" %></li>
   <li><%= link_to "電子レンジ", "https://swdev-miz72.c9users.io/cart" %>
   <%= "3000円" %></li>
   <li><%= link_to "掃除機", "https://swdev-miz72.c9users.io/cart" %>
   <%= "8000円" %></li>
</ul>
</div>