<%= form_tag('/tweets/update',method: :"post")do %>
  <%= hidden_field_tag :id, @tweet.id %>
  <%= text_area_tag :message, @tweet.message, size: "30×3", maxlength: "140" %>
  <%= submit_tag '更新' %>
<% end %>