<%= form_tag '/tweets/login', method: :post do %>
  <%= label_tag :uid,'ユーザID' %>
  <%= text_field_tag :uid%>
  <%= label_tag :pass,'パスワード' %>
  <%= password_field_tag :pass %>
  <%= submit_tag '登録' %>
<% end %>
<%= link_to "新規登録","/tweets/newuser" %>



<% @tweets.each do |e| %>
  <%= e.message %>
  <%= link_to 'いいね', likes_path(tweet_id: e.id),method: :post %>
  <%= link_to 'いいね削除', like_path(e),method: :delete %>
<% end %>