<%= @error %>

<%= from_tag '/twitterx/usercreate',method: :post do %>
  <%= label_tag :uid,'ユーザーID' %>
  <%= text_field_tag :uid %><br><br>
  <%= label_tag :pass1,'パスワード' %>
  <%= password_field_tag :pass1 %><br>
  <%= label_tag :pass2,'パスワード(確認)' %>
  <%= password_field_tag :pass2 %><br>
  <%= submit_tag '登録' %>
<% end %>
<%= link_to "戻る","/" %>