<table border="1">
    カートの中
    
<tr>
    <th>商品名</th>
    <th>価格</th>
    <th>数量</th>
    <th>削除</th>
</tr>
    
    <% @cartitems.each do |c| %>
      <% p=Product.find(c.product_id) %>
      <% @tal += p.price * c.qty %>
      <tr>
          <td><%= p.name %></td>
          <td><%= p.price %></td>
          <td><%= c.qty %></td>
          <td><%=link_to "削除",cartitem_path(c),method: :delete, data: {confirm: "削除していいですか？"} %></td>
      </tr>
    <% end %>
</table>

<p>
    合計金額：<%= @tal %>円 
</p>

<br>
<%= link_to "戻る",top_main_path %>
